<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Notung.LogSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Notung.LogSettings>
            <setting name="Separator" serializeAs="String">
                <value>===============================================</value>
            </setting>
            <setting name="LogFileSize" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="DefaultLogger" serializeAs="String">
                <value>&lt;&lt;- - - - - - -&gt;&gt;</value>
            </setting>
            <setting name="MessageTemplate" serializeAs="String">
                <value>[{Date}] [{Level}] [{Process}] [{Source}]
{Message}</value>
            </setting>
        </Notung.LogSettings>
    </applicationSettings>
</configuration>